@using VGWagers.Resource
<!DOCTYPE html>
<html class="body-bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>@WebsiteContent.WebsiteName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/vgwager.css")
    @Styles.Render("~/Content/movingboxes.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    @RenderSection("scripts", required: false)
    @*@Html.RenderScripts()*@
    @Scripts.Render("~/Scripts/App/LoginModal.js")
    @Scripts.Render("~/Scripts/jquery.event.move.js")
    @Scripts.Render("~/Scripts/jquery.event.swipe.js")
    @Scripts.Render("~/Scripts/jquery.movingboxes.js")
    <script type="text/javascript">

        //function openModal(e)
        //{
        //    e.preventDefault();
        //    $(this).attr('data-target', '#modal-container');
        //    $(this).attr('data-toggle', 'modal');
        //}
       @*$(function () {
           debugger;
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
           // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
           if ('@ViewBag.OpenLoginDialog' == 'Y')
           {
               //$(this).attr('data-target', '#modal-container');
               //$(this).attr('data-toggle', 'modal');
               $('#modal-container').modal('hide');
               $('#modal-container').modal('show');

               var loginLink = $("a[id='loginLink']");
               loginLink.attr({ "href": "#", "data-toggle": "modal", "data-target": "#ModalLogin" });
           }

            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
                //debugger;
                //openModal(e);
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                debugger;
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });*@
        $(function () {
            //var device_width = $('#main-carousel').width();
            var device_width = $(window).width();
            var container_width = $('#main-carousel').width();
            var panel_width = 0.29;
            var build_nav = true;

            if (device_width < 768) {
                panel_width = 1;
                build_nav = false;
                //device_width = device_width - 20;
            }
            if (device_width == 768) {
                panel_width = 0.5;
            }
            if (992 <= device_width > 768) {
                panel_width = 0.39;
            }

            $('#slider').movingBoxes({
                /* width and panelWidth options deprecated, but still work to keep the plugin backwards compatible
                width: 500,
                panelWidth: 0.5,
                */
                panelWidth: panel_width,
                width: container_width,
                startPanel: 1,      // start with this panel
                wrap: true,  // if true, the panel will infinitely loop
                buildNav: build_nav,   // if true, navigation links will be added
                navFormatter: function () { return "&#9679;"; } // function which returns the navigation text for each panel
            });

        });
    </script>
</head>
<body class="main-body">
    <div id="main-loading-div-background"  >
        <div id="main-loading-div" class="main-loading-div">
            <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(WebsiteContent.WebsiteName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["MyMenu"] == null)
                {
                    Session["MyMenu"] = Html.Partial("~/Views/Shared/_MenuPartial.cshtml");
                }
                @Session["MyMenu"]
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <div class="container body-content">
       
        @RenderBody()
        <hr />
        <footer>
            <div id="notFixedFooter" class="navbar navbar-default navbar-inverse">
                <div class="footer-r2">

                    <div class="col-md-3" style="text-align:left">
                        <ul class="helplinks" style="list-style:none">
                            <li>
                                <i class="fa fa-question-circle ccHelpLinks"></i>  <a ui-sref="wg.help_faq" class="ccHelpLinks">Help &amp; FAQs</a>
                            </li>
                            <li>
                                <i class="fa fa-life-ring ccHelpLinks"></i>  <a href="#!/support" class="ccHelpLinks">Gamer Support Center</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3" style="text-align:left">
                        <ul class="helplinks" style="list-style:none">
                            <li>
                                <i class="fa fa-users ccHelpLinks"></i> <a ui-sref="wg.fair_play" class="ccHelpLinks">Fair Play Guarantee</a>
                            </li>
                            <li>
                                <i class="fa fa-trophy ccHelpLinks"></i> <a ui-sref="wg.responsible_gaming" class="ccHelpLinks">Responsible gaming</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="text-align:left">
                        <ul class="helplinks" style="list-style:none">
                            <li>
                                <i class="fa fa-money ccHelpLinks"></i>  <a ui-sref="wg.affiliates" class="ccHelpLinks">Affiliates</a>
                            </li>
                            <li>
                                <i class="fa fa-file-text-o ccHelpLinks"></i> <a ui-sref="wg.corp" class="ccHelpLinks">Corporate Info</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="text-align:left">
                        <ul class="helplinks" style="list-style:none">
                            <li>
                                <i class="fa fa-comment ccHelpLinks"></i>  <a ui-sref="wg.contact" class="ccHelpLinks">Contact Us</a>
                            </li>
                            <li>
                                <i class="fa fa-gamepad ccHelpLinks"></i> <a ui-sref="wg.play" class="ccHelpLinks">Games Offered</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="text-align:left">
                        <ul class="helplinks" style="list-style:none">
                            <li>
                                <i class="fa fa-thumbs-up ccHelpLinks"></i> <a ui-sref="wg.careers" class="ccHelpLinks">Careers</a>
                            </li>
                            <li>
                                <i class="fa fa-eye ccHelpLinks"></i> <a ui-sref="wg.privacy_policy" class="ccHelpLinks">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

                    <div class="clear"></div>

                </div>
                <div style="width:100%;display:inline-block;text-align:center">
                    <div class="footer-r3 paymentOptionsDiv" style="display: inline-block;">
                        <ul class="paymentOptions">
                            <li>
                                <img src="~/Content/images/footer-logo-1.png" />
                            </li>
                            <li>
                                <img src="~/Content/images/footer-logo-2.png" />
                            </li>
                            <li>
                                <img src="~/Content/images/footer-logo-3.png" />
                            </li>
                            <li>
                                <img src="~/Content/images/footer-logo-4.png" />
                            </li>
                            <li>
                                <img src="~/Content/images/footer-logo-5.png" />
                            </li>
                            <li>
                                <img src="~/Content/images/footer-logo-6.png" />
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="footer-r4 navbar-text" style="text-align:center;font-size:x-small">
                    &COPY;2015 @WebsiteContent.WebsiteName &trade;. ALL RIGHTS RESERVED.
                    <p>@WebsiteContent.WebsiteName is an online service that facilitates tournaments, leagues and ladders for users who play video games they have purchased on their own video game consoles. @WebsiteContent.WebsiteName does not sell or license video games and is not affiliated with, and our services are not endorsed by, any video game manufacturer or sports league.</p>
                </div>

            </div>
            <div id="footer" class="navbar navbar-default navbar-inverse navbar-fixed-bottom navbar-collapse ">
                
                <div class="container">
                    <div class="row">
                        <div style="width:100%;display:inline-block;text-align:center">
                            <div class="footer-r3" style="display:inline-block;">
                                <ul class="social-network social-circle">
                                    @*<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>*@
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    @*<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>*@
                                    <li><a href="#" class="twitchBlank" title="Twitch"><i class="fa fa-twitch"></i></a></li>
                                </ul>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/images/footer-logo-7.png" />
                            </div>
                        </div>
                       
                   </div>
                </div>
            </div>
        </footer>
    </div>
       

    <div class='modal fade' id='modal-container' tabindex='-1' role='dialog' aria-labelledby='modal-containerlabel' aria-hidden='true'>
        <div class='modal-dialog' id="modal-dialog" role="document">

            <div class='modal-content' id="modalContent">


            </div>

        </div>

    </div>

</body>

</html>
