
@using VGWagers.Models
@model LoginViewModel
@{ Layout = null;}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

<div id="modal-loading-div-background" style="display:none">
    <div id="modal-loading-div" class="modal-loading-div">
        @*<img id="loadingImage" src="~/Content/images/ajax-loader.gif" alt="Loading.." />*@
        <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
        </div>
    </div>
</div>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel" style="align-content:center">ConsoleCurrency - Sign in</h4>
</div>
<div class="modal-body">
   
    <div style="align-content:center">
       
            @*@Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@

            @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            <br />
       
    </div>
    <div class="row">
        <div class="col-md-12">
           
                @using (Html.BeginForm("LoginJson", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginform" }))
                {
                    @Html.AntiForgeryToken()
                   
                    @*<hr />*@
                    <div class="alert alert-danger" role="alert" style="display: none" id="alertBox"></div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-left:3px;">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8" style="text-align:-webkit-center">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:3px;">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8" style="text-align:-webkit-center">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <div class="col-md-12" style="text-align:right;padding:5px 0px; max-width:259px;">
                                @Html.ActionLink("Forgot password?", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "forgotPasswordLink" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group " style="margin-left:3px;">
                        <div class="col-md-offset-3 col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:3px;">
                        <div class="col-md-offset-3 col-md-4" style="max-width:144.28px;">
                            @*<input type="submit" value="Log in" class="btn btn-default" />*@
                            <button type="submit" class="btn btn-primary btn-lg" id="btnLogin">Sign in</button>
                            
                        </div>
                        <div class="col-md-4" style="text-align:right;margin-right:25px; margin-top:15px; max-width:144.28px;">
                            @Html.ActionLink(" Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "newRegLink", @class = "modal-link" })
                        </div>
                    </div>
                    
                }
           
        </div>
       
    </div>
   
  
    @*<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>*@  
</div>

<script type="text/javascript">
   
    $(function () {

        $('#newRegLink').on('click', function (e) {
            debugger;
            $('#modalContent').load(this.href, function () {
                $('#modal-dialog').removeClass("modal-login");
                $('#modal-dialog').addClass("modal-register");
                $('#modal-container').modal('show');
            });
           
            return false;
        });

        $('#forgotPasswordLink').on('click', function (e) {
            debugger;
            $('#modal-container').modal('hide');
            $('#modalContent').load(this.href, function () {
                $('#modal-container').modal('show');
 
            });
            return false;
        });
        //allow validation framework to parse DOM
        $.validator.unobtrusive.parse('#loginform');
    });
</script>
