@using VGWagers.Resource
@using VGWagers.Models
@model RegisterViewModel

@{ Layout = null;}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryajax")
@Scripts.Render("~/bundles/register")

<script type="text/javascript" language="javascript">
    //$.validator.unobtrusive.adapters.addBool("mandatory", "required");
</script>
<div id="modal-loading-div-background" style="display:none">
    <div id="modal-loading-div" class="modal-loading-div">
        @*<img id="loadingImage" src="~/Content/images/ajax-loader.gif" alt="Loading.." />*@
        <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
        </div>
    </div>
</div>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">@TextContent.WebsiteName - Register</h4>
</div>
<div class="modal-body">
  
    <div class="row">
        <div class="col-md-12">
            <section id="registerForm">
                @{
                    Html.EnableUnobtrusiveJavaScript();
                    Html.EnableClientValidation();
                }
                @using (Html.BeginForm("RegisterJson", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerform" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Create a new account.</h4>
                    <hr />
                    <div class="alert alert-danger" role="alert" style="display: none" id="alertBox"></div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.DateOfBirth, new { id="txtDOB",  @class = "form-control datepicker" , type = "date" })
                            @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                       
                        @Html.CheckBoxFor(m => m.TermsAccepted, new { @class = "col-md-4 control-checkbox termsCheckbox" })
                        <div class="col-md-8" >
                            @*@Html.(m => m.AcceptTerms, new { @class = "col-md-4 control-label" })*@

                            @Html.ActionLink("Accept Terms and Conditions", "Terms", "Home", null, new { target = "_blank" })
                            <br />
                            @Html.ValidationMessageFor(m => m.TermsAccepted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.MarketingMailersAccepted, new { @class = "col-md-4 control-checkbox termsCheckbox" })
                        <div class="col-md-8">
                            @*@Html.(m => m.AcceptTerms, new { @class = "col-md-4 control-label" })*@

                            @Html.DisplayNameFor(m => m.MarketingMailersAccepted)
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-primary btn-lg" value="Register" />
                        </div>
                    </div>
                }
            </section>

        </div>
    </div>
</div>

<script type="text/javascript">
   
</script>
